<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sofa.mapper.SysPermissionMapper">
<!--分页查询权限数据-->
    <select id="findPage" resultType="com.sofa.entity.SysPermission">
        select * from sys_permission
        <if test="queryString !=null and queryString.length>0">
            where label like concat('%' , #{queryString},'%') or code like concat('%' , #{queryString},'%')
        </if>
    </select>

    <insert id="insert" parameterType="com.sofa.entity.SysPermission">
        INSERT INTO sys_permission(label,code,status) VALUES (#{label},#{code},#{status})
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        delete from sys_permission where id = #{id}
    </delete>

    <update id="update" parameterType="com.sofa.entity.SysPermission">
        update sys_permission
        <set>
            <if test="label!=null">
                label=#{label},
            </if>
            <if test="code!=null">
                code=#{code},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="findByRoleId" resultType="com.sofa.entity.SysPermission">
        select * from sys_permission where id in (select permission_id from roles_permissions where role_id=#{roleId}) and status=1
    </select>

    <select id="findAll" resultType="com.sofa.entity.SysPermission">
        select * from sys_permission
    </select>


</mapper>